<div class="heading">

    <div *ngIf="companyDetails" class="table-responsive-md" id="">
        <h2>All Company</h2> <br>
        <table *ngIf="loginService.isUserLoggedIn()" class="table table-borderless table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Stock Symbol</th>
                    <th>Open Rate</th>
                    <th>Close Rate</th>
                    <th>Today's Peak Price</th>
                    <th>Today's Low Price</th>
                    <th>Current Rate</th>
                    <th>Year Low</th>
                    <th>Year High</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let elements of companyDetails">
                    <td>{{elements.name}}</td>
                    <td>{{elements.open_rate}}</td>
                    <td>{{elements.close_rate}}</td>
                    <td>{{elements.peak_rate}}</td>
                    <td>{{elements.least_rate}}</td>
                    <td>{{elements.current_rate}}</td>
                    <td>{{elements.year_low}}</td>
                    <td>{{elements.year_high}}</td>
                    <td>
                        <button (click)="goToDetailedView(elements.company_id)" type="button" class="btn btn-primary sell">Details</button>
                    </td>
                    <td>
                        <button (click)="goToBuyPage(elements.company_id)" type="button" class="btn btn-warning">Buy</button>
                    </td>
                    <td>
                        <button (click)="addToWatchlist(elements.company_id, elements.name)" type="button" class="btn btn-dark sell">Watch</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <table *ngIf="!loginService.isUserLoggedIn()" class="table table-borderles table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Stock symbol</th>
                    <th>Open Rate</th>
                    <th>Close Rate</th>
                    <th>Today's Peak Price</th>
                    <th>Today's Low Price</th>
                    <th>Current Rate</th>
                    <th>Year Low</th>
                    <th>Year High</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let elements of companyDetails">
                    <td>{{elements.name}}</td>
                    <td>{{elements.open_rate}}</td>
                    <td>{{elements.close_rate}}</td>
                    <td>{{elements.peak_rate}}</td>
                    <td>{{elements.least_rate}}</td>
                    <td>{{elements.current_rate}}</td>
                    <td>{{elements.year_low}}</td>
                    <td>{{elements.year_high}}</td>
                    <td>
                        <button (click)="goToDetailedView(elements.company_id)" type="button" class="btn btn-warning sell">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <p *ngIf="!companyDetails" class="noData">
        No Records Found
    </p>


</div>