<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <!-- <img src="./assets/images/applogo.jpg" style="height: 30px;width: 30px; padding:20px;"> -->
        <a routerLink="/home" class="navbar-brand navbarHead">SBS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul *ngIf="loginService.isUserLoggedIn()" class="navbar-nav ml-auto">
                <li class="nav-item active navbarList">
                    <a routerLink="/" class="nav-link">Stocks</a>
                </li>
                <li class="nav-item active navbarList">
                    <a routerLink="/my-shares" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item active navbarList">
                    <a routerLink="/watch" class="nav-link">Watchlist</a>
                </li>
                <li class="nav-item active navbarList">
                    <a href="/orders" class="nav-link">Orders</a>
                </li>
                <li class="nav-item active navbarList">
                    <a routerLink="/profile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item active navbarList">
                    <a routerLink="/logout" class="nav-link">Logout</a>
                </li>
            </ul>

            <ul *ngIf="!loginService.isUserLoggedIn()" class="navbar-nav ml-auto">
                <li class="nav-item active navbarList">
                    <a routerLink="/" class="nav-link">Stocks</a>
                </li>
                <li class="nav-item active navbarList">
                    <a routerLink="/login" class="nav-link"><span style="color: aqua;">Login</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer class="footer page-footer font-small blue fixed-bottom bg-dark" style="color: aliceblue; text-align: center;">
    <div class="container">
        <span>All rights reserved 2021 @ TEAM GREEN</span>
    </div>
</footer>