.navbar{
    
}
.navbarHead{
    margin-left:5%; 
    font-weight: 600;
    font-size: 22px;
}
.navbarContainer{
    margin-right:2%;
    color:black !important;
}
.navbarList{
    margin-right:5%;
    width:100%;
    font-size: 16px;
    font-weight: 500;
}
.username{
    font-size: 17px;    
    font-weight: 500;
    color:white;
    margin-right:5%;
}
.navbarList>a{
    color:white;
}
.navbarList>a:hover{
    color:#caccce;
}
.navbar-nav{
    margin-right:15%;
}
.navbarListLogout{
    margin-right: 5%;
}
.navbarListLogout>a{

    color: white;
}
.navbarListLogout>a:hover{
    color:#caccce;
    text-decoration: none;
}